*
*::before,
*:after {
    box-sizing: border-box
}

* {
    font-family: 'Alegreya', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
}

body {
    margin: 0;
}

.header {
    padding: 40px 16px;
    text-align: center;
    background-color: #0380d3a8;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}