* *::before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", serif;
}

body {
  margin: 0;
  background-color: rgba(0, 225, 255, 0.237);
}

*::selection {
  background-color: rgb(59, 225, 178);
}

.header {
  padding: 3rem 1rem;
  padding-top: 4.5em;
  text-align: center;
  background-color: #0584d831;
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: " 👨‍🎓";
}

aside {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: darkblue;
  color: white;
}

a {
  margin: 16px;
  text-decoration: none;
}

a:link {
  padding: 0.25rem 0.5rem;;
  color: black;
  transition: color 0.5s, font-size 0.5s;
}

a:visited {
  color: rgb(183, 0, 0);
}

a:hover {
  color: rgb(84, 169, 0);
  font-size: 16px;
}

a:active {
  color: currentColor;
}

a + a {
  margin-left: 1rem;
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

.main > * {
  border-top: 0.125rem solid black;
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

h2 {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

