@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-style: bold;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf")format("truetype");
    font-style:  normal;
}

body {
    font-family: "OpenSans-Bold";
}